.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /*background: #f6f8fa;*/
    background-image: url("https://img.freepik.com/free-vector/white-color-background-gradient-abstract-modern_343694-2130.jpg?t=st=1727206708~exp=1727210308~hmac=b2fd93baf41cfb52e6bf78d568e9f4db5826a4aa694aec7bbece3892b0133bad&w=2000");
}

.form-component {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    max-width: 800px;
    margin: 0px auto 40px auto;
    border-radius: 5px;
}

.form-banner {
    display: flex;
    background-color: seagreen;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.banner-icon {
    font-size: 55px;
    color: #fff;
}

.form-container {
    padding: 30px;
    border-radius: 0 0 5px 5px;
}
